<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landing-Zone</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>

<body>
  <div class="menu simple">
    <header class="top-bar">
      <div class="top-bar-center">
          <h1 class="menu-text">LANDING Z🎯NE</h1>
           <h3>Will This Be The Zone That Lands You The Big Job, Million Dollar Idea, Contract, Deal.....</h3> 
      </div>
      <div class="top-bar">
        <div class="top-bar-right">
        <ul class="menu">
          {{#if loggedIn}}
          <li><a href="/newRental">New Rental</a></li>
          <li><a href="/controllers/processOrder-routes.js">Process Payments</a></li>
          <li><a href="/controllers/newClient-routes.js">Welcome!</a></li>
          <li><a href="/controllers/passedRental-routes.js">Rentals History</a></li>
          <button id="logout" class="btn-no-style">Logout</button>
          {{else}}
          <element class="button primary"><a href="/public/javascript/login.js">Login</a></div>
          {{/if}}
        </ul>
    </header>
    </div>
    <main>
      {{{ body }}}
    </main>
    <!-- Footer with copyright -->
    <footer class="callout margin-footer">
      <ul class="menu simple">
        <li> <h4>LANDING Z🎯NE</h4>
          Thank You on Behalf of XEN + Our Partners<br>
        Dream Big Dreams and When You're Done Dreaming, DREAM BIGGER DREAMS!</li>
      </ul>
    </footer>
  </div>

  {{#if loggedIn}}
  <script src="/public/javascript/login.js"></script>
  {{/if}}
  
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</body>

</html>