  
<section>
  <h2>New Rentals</h2>
  <form class="new-post-form">
    <div>
      <label for="post-title">Customer Name</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-url">Select Package</label>
     <optgroup label="Small Venues">
        <option value=" 200sq/ft - $35.00">1000sq/ft - $35.00/hr</option>
        <option value=" 250sq/ft - $40.00">250sq/ft - $29.00/hr</option>
        <option value=" 325sq/ft - $50.00">325sq/ft - $50.00/hr</option>
      </optgroup>
      <optgroup label="Medium Venues">
        <option value="500sq/ft - $400.00">500sq/ft - $400.00/hr</option>
        <option value="800sq/ft - $700.00">800sq/ft - $700.00/hr</option>
        <option value="9000sq/ft - $1200.00">900sq/ft - $1200.00/hr</option>
      </optgroup>
        <optgroup label="Large Venues">
        <option value="1000sq/ft - $400.00"> 1000sq/ft - $100/hr</option>
        <option value="1500sq/ft - $700.00">1500sq/ft - $125/hr</option>
        <option value="2000sq/ft - $1200.00">2000sq/ft - $140/hr</option>
      </optgroup>

      </select>
    </div>
    <button type="submit" class="btn">Create Order</button>
  </form>
</section>

<script src="/public/javascript/createPost.js"></script>